<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}-Triumph</title>
</head>
<body>
<div>
    <a href="{{ url_for("index") }}"><h2 style="text-align: center">Triumph</h2></a>
    <h4 style="display: inline">Categories</h4>
    {% for category in categories %}
        | <a href="{{ url_for("category", category_id=category.id) }}">{{ category.name }}</a>
    {% endfor %}
    <br>

    {% if current_user.is_anonymous %}
        <a href="{{ url_for("login") }}" style="display: inline"><h3 style="display: inline">Login</h3></a> |
        <a href="{{ url_for("cart") }}"><h3 style="display: inline">My Cart</h3></a>
    {% else %}
        <a href="{{ url_for("logout") }}"><h3 style="display: inline">Logout</h3></a> |
        <a href="{{ url_for("cart") }}"><h3 style="display: inline">My Cart</h3></a> |
        <h3 style="display: inline">User: </h3>
        {{ current_user.username }}
    {% endif %}

    <hr>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
{% block content %}{% endblock %}
</body>
</html>